.Chat {
	background: #fff;
	display: flex;
	flex-direction: column;
	margin: 0 auto ;
	height: 350px;
	width: 400px;
}

.Chat-words {
	color: black;
	display: flex;
	flex-direction: column;
	margin-bottom: 10em;
	padding: 2em 2em 3em 1em;
	list-style-type: none;
}

form {
	margin: auto;
	width: 90%;
}